# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\leone\OneDrive - Universidad de los Andes\Universidad\202020 - Octavo semestre\ISIS - 3204\Laboratorios\lab3Multicast\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
